.main-header {
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #007099;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
margin-bottom: 2em;
}

.user-name {
  color: var(--secondary-font-color)
}